<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Js</title>
</head>
<body>

    <div id="root">

        <ul>

            <li v-for="name in names" v-text="name"></li>

        </ul>

        <input id="inpt" type="text" v-model="newName">

        <button v-on:click="addName" type="submit" v-bind:title="title">Add Name</button>
        <!-- 
            other way to use vue method [@click => v-on:click] & [v-method:title => :title (only if @ is used)]
            <button @click="addName" type="submit" :title="title">Add Name</button> 
        -->

    </div>

    <script src="https://unpkg.com/vue@2.5.15/dist/vue.js"></script>

    <script>

        var app = new Vue({

            el: '#root', // où envoyer le data

            data: { // ce que contient data

                newName: '',

                names: ["Ilias", "kevin", "Thomas", "Nicolas"],

                title: "This button add new value in the list."

            },

            methods: {

                addName() {

                    this.names.push(this.newName);

                    this.newName = '';

                }

            }

        });

    </script>
    
</body>
</html>