<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Step 6</title>

</head>

<body>

    <div id="root">

        <h2>Completed Tasks:</h2>

        <ul>
            
            <li v-for="task in Tasks" v-if="task.completed" v-text="task.description"></li>

            <!-- v-text affichera uniquement ce qui correspond à la condition du v-if -->
            
        </ul>

        <h2>Incomplete Tasks:</h2>

        <ul>
            
            <li v-for="task in incompleteTasks" v-text="task.description"></li>

            <!-- v-text affichera uniquement ce qui correspond à la condition du v-if -->
            
        </ul>

    </div>

    <script src="https://unpkg.com/vue@2.5.15/dist/vue.js"></script>

    <script>

            var app = new Vue({
    
                el: '#root',
    
                data: { 

                    Tasks: [

                        { description: 'Gor to the store', completed: true },

                        { description: 'Finish my homework', completed: false },

                        { description: 'Make Donation', completed: false },

                        { description: 'Clear mailbox', completed: false },

                        { description: 'Play HotS', completed: false },

                        { description: 'Sleep', completed: true }

                    ]
    
                },

                computed: {

                    incompleteTasks() {

                        return this.Tasks.filter(task => ! task.completed);

                    }

                }
    
            });
    
        </script>
    
</body>

</html>